/* Visualization 1 - Map */

/* Leaflet map container size */
div#map1 {
	width: 1024px;
	height: 768px;
}
/* d3 SVG positioning */
div#map1 svg {
	position: relative;
}

/* d3 regions tooltip inspired by:
 * http://www.competa.com/blog/2015/07/how-create-tooltips-in-d3-js/
 * http://bl.ocks.org/Caged/6476579
*/
body .tooltipMap {
	position:absolute;
	text-align: center;
	width: 200px;
	height:auto;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 10px;
	color: #fff;
	font-size: 15px;
	padding: 6px 12px;
	z-index:3;
}
body .tooltipMap span {
	display: block;
	text-align: center;
	width: 200px;
	height: auto;
	margin: 5px auto;
}
